body {
    background-image: linear-gradient(to bottom,#0056b3,#B0F7FF, #B0F7FF);
}

/* Container Styling */
.card1 {
    background-color:#ffffff;
    height: 500px;
    width: 300px;
    border-radius: 30px;
    margin:10px;
    box-shadow: 0px 2px 5px 0px rgb(11, 10, 10);
    transition: 0.5s;
}

.card2 {
    background-color:#ffffff;
    height: 500px;
    width: 300px;
    border-radius: 30px;
    margin:10px;
    box-shadow: 0px 2px 5px 0px rgb(11, 10, 10);
    transition: 0.5s;
}

.card3 {
    background-color: #ffffff;
    height: 500px;
    width: 300px;
    border-radius: 30px;
    margin:10px;
    box-shadow: 0px 2px 5px 0px rgb(11, 10, 10);
    transition: 0.5s;
}

.card4 {
    background-color: #ffffff;
    height: 500px;
    width: 300px;
    border-radius: 30px;
    margin:10px;
    box-shadow: 0px 2px 5px 0px rgb(11, 10, 10);
    transition: 0.5s;
}

.card5 {
    background-color: #ffffff;
    height: 500px;
    width: 300px;
    border-radius: 30px;
    margin:10px;
    box-shadow: 0px 2px 5px 0px rgb(11, 10, 10);
    transition: 0.5s;
}

.card6 {
    background-color: #ffffff;
    height: 500px;
    width: 300px;
    border-radius: 30px;
    margin:10px;
    box-shadow: 0px 2px 5px 0px rgb(11, 10, 10);
    transition: 0.s;
}

.Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    margin: 10px 50px;
    padding: 100px;
}

h1 {
    text-align: center;
    color: rgb(14, 10, 13);
}

.Container .card1 figure img {
    width: 100%;
    object-fit: cover;
}

.Container .card1 p {
    padding-left: 10px;
}

/* Socials Styling */
.Socials {
    background-color: linear-gradient(to top, rgb(36, 188, 214), rgb(83, 92, 226), rgb(220, 135, 235)); /* Gradient background */
    display: grid;
    align-items: center;
    justify-content: space-around;
}

hr{
    background-color: rgb(15, 139, 206);
    height: 2px;
}


